# Copy to .env and fill in real values for local dev
DB_URL=jdbc:postgresql://localhost:5433/cartflow
DB_USERNAME=cartflow_user
DB_PASSWORD=cartflow_pass

REDIS_HOST=localhost
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Generate a new one: openssl rand -base64 32
JWT_SECRET=dGhpcy1pcy1hLXZlcnktbG9uZy1zZWNyZXQta2V5LWZvci1kZXYtb25seQ==
